html,
body,
header,
#intro{
    height: 100%
}

#intro{
    background: url("https://cdn.rentalmobilbali.net/wp-content/uploads/2012/02/Pura-Ulun-Danu-Danau-Bedugul-Facebook.jpg");
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

}

#bg-login{
	 background: url("https://phinemo.com/wp-content/uploads/2017/09/13745195_509201032619920_493011230_n.jpg");
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
	height: 100%
}

#bg-profile{
    background: url("https://cdn.hipwallpaper.com/i/27/65/wsAL3i.jpg");
   -webkit-background-size: cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
   height: 100%
}

#bg-admin{
    background: url("https://c0.wallpaperflare.com/preview/400/328/861/alpine-alps-background-blue.jpg");
   -webkit-background-size: cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
   height: 100%
}


.btn-rounded{
    border-radius: 20px;
}

.bg-bl{
    background-color: black;
}

.txt-white{
    color: white;
}


  .column {
    flex: 32.5%;
    max-width: 32.5%;
    padding:  4px;
  }

  .col-height1{
      width: 100%;
      height: 510px;
      margin: 5px;

  }

  .col-height2{
    width: 100%;
    height: 250px;
    margin: 5px;
  }

  .left{
      margin-left: 2%;
  }

  .custom-font{
    font-family: "Trebuchet MS";
    font-size: 100px;
  }

  .row-full{
      width: 98%
  }

.column2{
    flex: 19.5%;
    max-width: 19.5%;
    padding:  4px;
}

.col-height3{
    width: 100%;
    height: 500px;
    margin: 5px;
}


#destination-bg{
    background: url("https://www.rd.com/wp-content/uploads/2018/02/04_Lombok_The-Most-Popular-Travel-Destinations-in-Indonesia_599438597_Andy-Troy.jpg");
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height: 40%;

}

#hotel-bg{
    background: url("https://pix10.agoda.net/hotelImages/633617/-1/86a4dc09a949aaf3336b00a2b183276a.jpg?s=1200x800");
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height: 40%

}

#culinary-bg{
    background: url("https://www.wweek.com/resizer/IEzwnaeU-U8GFsbPpbuBE_6j8SU=/1200x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/wweek/wp-content/uploads/2019/07/22161815/dish_Wajan_ChristineDong_4539.jpg");
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height: 40%

}

#full-bg{
    background: url("https://pngimage.net/wp-content/uploads/2018/06/locked-png-5.png");
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height: 100%

}


.login-form {
	width: 340px;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {        
    font-size: 15px;
    font-weight: bold;
}

.btn-round-lg{
border-radius: 25px;
}

.pad {
	padding: 50px;
}

.mt-7 {
    margin-top: 70px;
}
